{% extends 'base.html' %}


{% block content %}

<main>
  <section class="py-5 text-center container">
      <form method="post" action="traitement.php">
          <p>
              <label for="prenom">Votre prenom :</label>
              <input type="text" name="prenom" id="prenom" size="30" maxlength="10" /><br /><br />
              <label for="nom">Votre nom :</label>
              <input type="text" name="nom" id="nom"  size="30" maxlength="10" /><br /><br />
              <label for="entreprise">Le nom de votre entreprise :</label>
              <input type="text" name="entreprise" id="entreprise"  size="30" maxlength="10" /><br /><br />
              <label for="email">Votre email :</label>
              <input type="text" name="email" id="email"  size="30" maxlength="10" /><br /><br />
              <label for="communication">Autre moyen de communication :</label><br />
              <textarea name="communication" id="communication"></textarea><br /><br />
              <label for="specification">Avez vous des choses à ajouter ? :</label><br />
              <textarea name="specification" id="specification"></textarea><br /><br />
              <a class="hide" href="https://docs.google.com/forms/d/e/1FAIpQLSeCXKuFaBD-mknDMEf6AaEZhQRwfLVKGSFV1jJuoFhpMmRiyg/viewform?usp=sf_link">Lien gg Form</a>
              </form>
          </p>
      </form>
  </section>

{% endblock %}