{% extends 'base.html' %}


{% block content %}

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Bienvenue sur le Portfoliode Adam Deruelle.</h1>
        <p class="lead text-muted">Apprenti programmeur au lycée Saint-Joseph de Lamballe</p>
      </div>
    </div>
    <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.regionsjob.com%2Fobservatoire-metiers%2Ffiche%2Fanalyste-programmeur&psig=AOvVaw3e46WPeYtiXSO1_q6O-fCz&ust=1643477934660000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCLCTzcf-1PUCFQAAAAAdAAAAABAD">
      <img src="Images/programmeur example.jpg" alt="personne qui programme" style="max-width: 70%;">
    </a>
  </section>

{% endblock %}
