{% extends 'base.html' %}


{% block content %}

<main>
  <h2 class="text-center-Python">Projets Python</h2>
  <div class="album py-5">
    <div class="container">
      <div class="row">
        <div class="col col-md-4">
          <h3>Bataille Navale</h3>
          <p>Jeu de bataille navale simplifié. Il se joue sur une carte de 5x5 avec un bateau de 3 et un de 2. C'est l'ordinateur qui place les bateaux à vous de les retrouver!</p>
          <a class="git_button" href="https://github.com/adamderuelle/pyhton/blob/main/BN/Bataille%20Navale">GitHub</a>
        </div>
        <div class="col col-md-4">
          <h3>Saute Mouton</h3>
          <p>Il y a 2 troupeaux de moutons, votre but passer ceux de gauche a droite et vis-versa! Attention vous ne pouvez pas revenir en arriére</p>
          <a class="git_button" href="https://github.com/adamderuelle/pyhton/blob/main/Palindrome.py">GitHub</a>
        </div>
        <div class="col col-md-4">
          <h3>Palindromes</h3>
          <p>Rentrez un mot et l'ordinateur vous dira si c'est un palindrome ou non!</p>
          <a class="git_button" href="https://github.com/adamderuelle/pyhton/blob/main/Palindrome.py">GitHub</a>
        </div>
      </div>


    <div class="row">

        <div class="col col-md-4">
          <h3>Mot de passe</h3>
          <p>Besoin d'un nouveau mot de passe? Vous êtes au bon endroit! Entrez la taille et le niveau de sécurité et vous aurez votre nouveau mot de passe!</p>
          <a class="git_button" href="https://github.com/adamderuelle/pyhton/blob/main/Mot%20de%20passe%20aléatoire.py">GitHub</a>
        </div>

      <div class="col col-md-4">
          <h3>Tic Tac Toe</h3>
          <p>Vous vous ennuyez? Venez jouer au morpion contre un ordinateur!</p>
          <a class="git_button" href="https://github.com/adamderuelle/pyhton/tree/main/Tic%20Tac%20Toe">GitHub</a>
      </div>

      <div class="col col-md-4">
          <h3>Traitements de données en table</h3>
          <p>Besoin de faire du tri dans vos données? Donnez-nous le fichier en csv et on ve le retourne bien trié!</p>
          <a class="git_button" href="https://github.com/adamderuelle/pyhton/tree/main/Traitement%20de%20données%20en%20tables">GitHub</a>
      </div>

    </div>
  </div>

</main>

{% endblock %}